Django>=2
wheel==0.30.0

# Django Cassandra Models
#cassandra-driver>=3.15.0
#dse-driver>=2.6
#django-cassandra-engine>=1.5
https://github.com/buildgroupai/django-cassandra-engine/tarball/1.5.4-bgds-1#egg=django-cassandra-engine-1.5.4.bgds-1

# Django REST framework
# djangorestframework>=3.8.2
djangorestframework-queryfields>=1.0.0
django-rest-swagger>=2.2.0
rest-framework-cache>=0.1
pyyaml>=5.1.2
markdown>=2.6.11  # Markdown support for the browsable API.

# Solr Queries for DataStax cores
drf-haystack>=1.8.5
pysolr>=3.7.0
solrq>=1.1.1

# Geospatial Data Abstraction Library
gdal==2.3.3
geopy>=1.17.0

# Fuzzy
fuzzywuzzy>=0.17

# Redis cache for Django
django-redis>=4.10.0