wheel==0.34.2
django==2.2.14
django-configurations==2.1
django-registration==3.1
django-cassandra-engine==1.6.0
djangorestframework-filters==1.0.0.dev0
# djangorestframework>=3.7,<3.10 # Imposed by DRF-Haystack
djangorestframework-queryfields==1.0.0
django-rest-auth==0.9.5
drf-yasg==1.17.1
packaging==20.4
pyyaml==5.3.1
rest-framework-cache==0.1-bgds-1
django-redis==4.12.1
markdown==3.2.2
drf-haystack==2.8.1
pysolr==3.9.0
solrq==1.1.1
fuzzywuzzy==0.18.0